header {
    position: fixed;
    z-index: 5000;
    width: 100%;
    background: transparent;
    display: flex;
} header .logo-text {
    margin: auto;
    padding: 2em;
    max-height: 6.5em;
    align-self: center;
    justify-self: center;
} header a {
    margin: auto;
    align-self: center;
    justify-self: center;
}

p {
    margin: 0;
}

.cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#ffd800, #00ff73ab);
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-flow: column;
}

/*===================  SIGNUP FORM   ====================*/

.login-container{
    height: fit-content;
    max-width: 500px;
    margin: auto;
    font-weight: 300;
    text-align: center;
    padding: 2em 4em;
}
.login-container .button {
    width: 75%;
    padding: 1em 0.75em;
    margin: 1em 0 1rem 0;
    font-weight: 600;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.form-title{
    margin: auto;
    width: fit-content;
    font-weight: 200;
    font-size: 2.5em;
    text-align: center;
}

.textbox {
    margin-top: 0.75rem;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    background: #fff;
} .textbox::placeholder {
    color: #b1b1b1;
}  .textbox:focus
{
    outline: none;
}

.error {
    border-color: #ff0000;
    color: #ff0000 !important;
} .error::placeholder {
    color: #ff0000 !important;
}
.email-msg
{
    opacity:0;
    transition: opacity 0.5s ease-out;
}
.email-msg p
{
    font-size: 18px;
    font-weight: 400;
    background: #55da55;
    border-radius: 10px;
    border: 1px solid;
    border-color: #3e9780;
    margin-bottom: 15px;
    padding: 0 0.3px;
    margin-top: 20px;
}
.fade-out
{
    opacity: 1 !important;
}
/*---------------------------------------------------*/
.loading-none
{
    display: none;
}
.button-fade{
    background: #aaa6907a;
    color: #00000000;
    transition: all 0.4s ease;
}
.loading {
    position: relative;
    bottom: 50px;
  }
  .loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
  }
  .loading-bar:nth-child(1) {
    background-color: #2b96dd;;
    animation-delay: 0;
  }
  .loading-bar:nth-child(2) {
    background-color: #ff1800;
    animation-delay: 0.09s;
  }
  .loading-bar:nth-child(3) {
    background-color: #000000;
    animation-delay: .18s;
  }
  .loading-bar:nth-child(4) {
    background-color: #ffdd00;
    animation-delay: .27s;
  }
  
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.2);
    }
    40% {
      transform: scale(1);
    }
  }

/*===================   @MEDIA   ====================*/

@media (min-width: 500px) {
    .login-container {
        position: relative;
        width: 500px;
        left: 50%;
        margin-left: -250px;
    }
}

@media (max-width: 360px) {
    .login-container{
        padding: 2em;
    }

    .textbox {
        padding: 0.75em 2em;
    }
}