<script src="js/ConfirmMail.js"></script>
<link rel="stylesheet" type="text/css" href="/css/ConfirmMail.css" />

<!--=================== HEADER AND SIDEBAR NAV MENU ===================-->
<header>
    <a href="/"><img class="logo-text" src="/assets/amphere-text.svg"></a>
</header>

<!--=================== SIGN UP FORM ===================-->
<div class="cover">
    <div class="container">
        {{#if status}}
            <div class="success">
                <p style="font-size:22px;">You have successfully verified your email address</p>
                <p style="font-size: 22px; margin:10px;">Thank You.</p>
            </div>
        {{/if}}
        <button id="login-btn" class="button">LOGIN</button>
    </div>
</div>

<script>
    document.getElementById('login-btn').onclick = function() {
        window.location = 'http://account.amphere-test.tk/';
    }
</script>